.inline-Block {
    display: inline-block;
    vertical-align: top;
    color: #6B705C;
  
  }
  body {
    background-color: #DDBEA9;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 500px;
    
  }
  
  p{
    display: inline-flex;
    flex-direction: row;
    font-size: 30px;
  }
  .grid-container {
    display: grid;
    flex-direction: row;
  
  }
  .logo {
      width: 1%;
      padding: 1%;
      text-align: left;
      display: flex;
    }
    
  .nav {
      width: 100%;
      padding: 1%;
      color: #6B705C;
      vertical-align: top;
      text-align: right;
      flex-direction: row;
      display: flex;
      
  }
  .footer {
    width: 50%;
    margin-left: 1%;
    color: #6B705C;
    
    
  }
  button{
    background-color: #CB997E;
    color: white;
  }
  
  p{
    color: #6B705C;
  }
  
  .flexContainer {
    display: flex;
  }